
<!-- CONTAINERS FOR PROFILE SUMMARY-->
      <div class="container">
  <!-- PROFILE SUMMARY PARTIAL BELOW HERE-->
  {{#each profiles}}
            <div class="row">
                <div class="col-2"></div>
              <div class="col-8 profile-summary">

                <div class="col1"></div>
                <div class="col10">
                    <a href="/profile/{{id}}"><img src="{{image}}" class="profile-img"></a>
                    <br>
                    <h5>Name: {{name}}</h5><br>
                    <h5>Energy:{{energy}}</h5><br>
                    <h5>Alignment: {{alignment}}</h5><br>
                </div>
                <div class="col1"></div>
              </div>
              <div class="col-2"></div>
          </div>
  {{/each}}
  <!-- PROFILE SUMMARY END HERE-->
        </div>

