
<div class="container">
    <div class="row">
      <div class="col-sm-8">
       <h1>Name: {{name}}</h1><br>
       <h1>Energy: {{energy}}</h1><br>
       <h1>Alignment: {{alignment}}</h1><br>
       <h1>Special Skills: {{specialSkills}}</h1><br>
       <h1>Backstory:</h1><br>
       <h3 style ="color:blue">{{backstory}}</h3>

      </div>
      <div class="col-sm-4">
        <img src="{{image}}" class="profile-img-main">
    </div>
    </div>
</div>