<div class="container">
    <div class="row">
      <div class="col-sm-8">\
        <h2 name="name" value={{name}}>Name: Test Person</h2><br>

        <h2 name="specialSkills" value={{specialSkills}} >Alignment: Good</h2><br>
        <h2 name="backstory" value={{backstory}} >Alignment: Good</h2><br>
      </div>
      <div class="col-sm-4">
        <img src="{{image}}" class="profile-img-main">
        <br>
        Upload Image here: <input type='text' name="image
      " value={{image}}>Paste URL here</form>
    </div>
    </div>
</div>
<br>
